/*
contenedor img y texto: 343px x 613px
contenedor-img: 343px x 241px

*/


:root {
    --DarkCyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --VeryDarkBlue: hsl(212, 21%, 14%);
    --DarkGrayIshBlue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

html {
    font-size: 62.5%;
    box-sizing:border-box;
}

*, *:before, *:after{ /*Esto hace que no cambie el tamaño de las cajas*/
    box-sizing: inherit;
} 

/* -------------- Body -------------- */


body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: var(--Cream);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.contenedor {
    height: 613px;
    width: 343px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
}

/*--------------- Img --------------- */

/*
contenedor img y texto: 343px x 613px
contenedor-img: 343px x 241px
*/

.img {
    width: 343px;
    height: 241px;
    background-image: url(../images/image-product-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*-------------- Texto -------------*/

.contenedor-text {
    width: 343px;
    height: 372px;
    background-color: var(--White);
}

.text {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.text h3 {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
    margin-top: 2rem;
    font-weight: lighter;
    color: var(--DarkGrayIshBlue);
}

.text h1 {
    font-family: 'Fraunces', serif;
    margin-top: 0rem;
}

.text p {
    color: var(--DarkGrayIshBlue);
    font-size: 1.4rem;
    font-weight: lighter;
    line-height: 2rem;
}

.price-text {
    height: 65.31px;;
    margin-left: 2.5rem;
    margin-right: 2.5rem;

    display: flex;
    flex-direction: row;
}

.price1 {
    font-size: 2.2rem;
    color: var(--DarkCyan);
    font-family: 'Fraunces', serif;
}

.price-text .price1 h2 {
    margin-top: 1rem;  
}

.price2 {
    margin-top: 0.2rem;
    margin-left: 2rem;
    font-size: smaller;
    font-weight: lighter;
    color: var(--DarkGrayIshBlue);
}

/* ------------------ Botón ------------------- */

.boton-icono {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
.boton {
    text-align: center;
}
.btn {
    border-radius: 1rem;
    font-weight: bold;
    background-color: var(--DarkCyan);
    text-decoration: none;
    border: none;
    color: var(--White);
    padding: 1.4rem 9rem;
    cursor: pointer;
}
.svg {
    margin-right: 1rem;
}

/* ----------------- Desktop ---------------- */
/*
contenedor: 600px x 450px
img: 300px x 450px
text: 300px x 450px
*/

@media (min-width:1000px){

    .contenedor {
        width: 600px;
        height: 450px;

        display: flex;
        flex-direction: row;
    }
    .img {
        width: 300px;
        height: 450px;
        background-image: url(../images/image-product-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .contenedor-text {
        width: 300px;
        height: 450px;
        margin-right: 4rem;
        border-radius: 0 1rem 1rem 0;
    }
    .btn {
        border-radius: 1rem;
        font-weight: bold;
        background-color: var(--DarkCyan);
        text-decoration: none;
        border: none;
        color: var(--White);
        padding: 1.4rem 5.3rem;
        cursor: pointer;
    }
    .price-text {
        margin-bottom: 1rem;
    }
    .contenedor-text {
        padding-top: 1rem;
    }
    .contenedor-text h3 {
        padding-bottom: 1rem;
    }
}